body {
 
  background-color: #2a0205;
  border: white 3px double;
}




.snowflake1{
position: absolute;
  top: 10px;
  right: 16px;
 
}
.container{
  max-width: 800px;
  margin: 150px auto;
  background-color: rgba(237, 231, 231, 0.6);
  padding: 50px;
  border-radius: 10px;
  opacity: 0.9;
 display: block;

img{
  position: relative;
  object-fit: cover;
  max-width: 600px;
}
 
  /*background-image: url("");
  border-image-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;*/
}


header{
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big-white-snowflake{
  width: 40px;
  height: 40px;
}

a {
  color: white;
}

h1 {
  font-size: 42px;
  font-family: "Bokor", system-ui;
  text-shadow: 4px 4px 4px #635050;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
}

.form-container {
  padding: 30px;
  background-color: rgb(129, 116, 101);
  border: #082e1f double;
  --mask: conic-gradient(
      from -120deg at right,
      #0000,
      #000 1deg 59deg,
      #0000 60deg
    )
    50%/100% 17.32px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  
}

form {
 
  display: flex;
  font-size: 16px;
}

.example {
  padding-top: 10px;
  opacity: 0.6;
}

.recipe-search-name {
  width: 70%;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
  font-size: 16px;
  border: none;
}
.submit-input {
  margin-left: 5px;
  width: 20%;
  padding: 10px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 10px rgba(100, 91, 91, 0.2);
}
.recipe1 {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(129, 116, 101);
  line-height: 1.5;
  color: #0d0c0c;

  --mask: conic-gradient(
      from -120deg at right,
      #0000,
      #000 1deg 59deg,
      #0000 60deg
    )
    50%/100% 17.32px;
  -webkit-mask: var(--mask);
  mask: var(--mask);

  border: #082e1f double;
}

.hidden {
  display: none;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.generate {
  animation: blink-animation 1s steps(5, start) infinite;
  opacity: 0.6;
  font-size: 18px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
