body {
  background-color: #2a0205;
  border: white 3px double;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/151/346/original/th-removebg-preview.png?1732474298);
}
.snowflake1 {
  top: 10px;
  right: 16px;
  object-position: right;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/151/346/original/th-removebg-preview.png?1732474298);
}

.container {
  max-width: 800px;
  margin: 150px auto;
  background-color: rgba(237, 231, 231, 0.6);
  padding: 50px;
  border-radius: 10px;
  opacity: 0.9;
  display: block;
}
.header {
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/151/335/original/wood_present.jpg?1732469390);
}
img {
  display: inline-block;
  margin: 0 auto;
  object-fit: cover;
}
/* header {
    position: absolute;
    width: 80%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }*/

a {
  color: white;
}

h1 {
  font-size: 48px;
  font-family: "Bokor", system-ui;
  text-shadow: 4px 4px 4px #635050;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
  padding-top: 80px;
}

.form-container {
  padding: 30px;
  background-color: rgb(129, 116, 101);
  border: #082e1f double;
  --mask: conic-gradient(
      from -120deg at right,
      #0000,
      #000 1deg 59deg,
      #0000 60deg
    )
    50%/100% 17.32px;

  mask: var(--mask);
}

form {
  display: flex;
  font-size: 16px;
}

.example {
  padding-top: 10px;
  opacity: 0.6;
}

.recipe-search-name {
  width: 70%;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
  font-size: 16px;
  border: none;
}
.submit-input {
  margin-left: 5px;
  width: 20%;
  padding: 10px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 10px rgba(100, 91, 91, 0.2);
}

.recipe1 {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(129, 116, 101);
  line-height: 1.5;
  color: #0d0c0c;

  --mask: conic-gradient(
      from -120deg at right,
      #0000,
      #000 1deg 59deg,
      #0000 60deg
    )
    50%/100% 17.32px;

  mask: var(--mask);

  border: #082e1f double;
}

.hidden {
  display: none;
}
.snowflakes .snow-1 img{
  max-width: 250px;
  max-height: 250px;
  bottom: 10px;
  right: 16px;
}
.snowflakes .snow-2 img{
  max-width: 150px;
  max-height: 150px;
  bottom: 150px;
  right: -260px;
  position: relative;
 
}
.snowflakes .snow-3 img{
  max-width: 150px;
  max-height: 150px;
  bottom: 30px;
  right: -50px;
  position: relative;
 
}

footer {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.generate {
  animation: blink-animation 1s steps(5, start) infinite;
  opacity: 0.6;
  font-size: 18px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
